<section class="tasks">
  <h1>Detalhes da tarefas</h1>
  <div class="tasks-content">
    <div class="tasks-container">
      <h2>{{task.title}}</h2>
      <a href="/tasks/edit/{{task.id}}" class="button button-details">Editar</a>
      <div class="tasks-details">
        <span>{{task.title}}</span>
        <p>{{task.description}}</p>
      </div>
    </div>
  </div>
</section>